html.dark {
    --c-brand: #a150c3 !important;
    --c-tip: #a150c3 !important;
    /*--c-bg: #323232 !important;*/
    /*--c-bg-navbar: #3a3a3a !important;*/
    --c-brand-light: #a150c3a3 !important;
}
#main-title {
    // font-size: 4rem;
    // font-weight: 600;
    background: -webkit-linear-gradient(left, #c170e3, #b160d3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(0,0,0,0);
}